<!DOCTYPE html>
<html lang="pt-br">

    <head th:replace="~{layout::head}"></head>

    <body class="bg-gradient-primary">

        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <img src="img/logoUVV.png" alt="logo" style="height: 9vh">
                                        </div>
                                        <form class="user" action="/logar" method="POST">
                                            <div class="text-center" style="margin-top: 50px">                                                
                                                <h1 class="h4 text-gray-900 mb-4">Bolão da Copa 2022</h1>
                                            </div>

                                            <div th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></div>

                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                       id="email" name="email" aria-describedby="emailHelp"
                                                       placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                       id="password" name="password" placeholder="Senha">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" name="remember" id="remember">
                                                    <label class="custom-control-label" for="remember">Lembrar-me</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/forgot-password">Esqueceu sua senha?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="/register">Cadastre-se!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <footer th:replace="~{layout::footer}"></footer>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

    </body>

</html>